body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    color: black;
}

.container {
    margin-top: 50px;
    background: url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

.row {
    margin-bottom: 10px;
}

.col {
    padding: 10px;
}

.aDate {
    width: 200px; /* Adjust the width as needed */
}

.content {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-success {
    background-color: #28a745;
    color: #ffffff;
}

.btn-danger {
    background-color: #dc3545;
    color: #ffffff;
}
